<IfModule mod_headers.c>
    Header unset Link
    <FilesMatch "\.(html|html_gzip|html_br)$">
    Header add Link '<https://d4him7q08tkoi.cloudfront.net/wp-content/cache/minify/ee924.default.include.f6d86e.css>; rel=preload; as=style'
    </FilesMatch>
</IfModule>
